<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
        <a href="{{ path('homepage') }}" class="btn btn-default" role="button">{{ 'registration.cancel'|trans({}, 'FOSUserBundle') }}</a>
    </div>
</form>
